body {
  background-color: lightgreen;
}

.container {
    background-color: white;
    width: 100%;
}

.jumbotron {
    background-image: url("images/parking_hero.jpg");
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}

#parkingLotImage {
    width: 100%;
    height: auto;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.navbar, #mySearch {
    width: 100%;
    margin-bottom: 10px;
}

#myForm, #cardForm {
    margin: auto;
}

#myTable, #myInput, #mySearch {
    margin-left: 1em;
    margin-right: 1em;
}

.validations {
    margin-left: 1em;
}


footer {
    background-color: black;
    color: white;
    line-height: 2em;
    justify-content: center;
}
